<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  * { font-family: Poppins, system-ui; padding: 0px; margin: 0px; }
</style>
<div
  class='container-content'
  style='display: flex;align-items: center;justify-content: center; width: 700px; margin: 0 auto;'
>
  <div
    class='card'
    style='border-radius: 10px;background-color: white;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);text-align: center;padding: 40px 30px; width: auto;'
  >
    <div class='card-header' style='margin-bottom: 50px'>
      <img
        src='https://res.cloudinary.com/consorcify/image/upload/v1717738477/CONSORCIFY_logo_bearwo.png'
        class='my-3'
        alt='Email image'
        style='margin-top: 30px; width: 300px;'
      />
    </div>
    <h1><strong>¡Gracias {{user}}!</strong></h1>
    <div class='card-body'>
      <h2 class='my-3' style='margin: 30px 0px;'>Tu pago ha sido procesado de
        forma exitosa.</h2>
      <p style='padding: 0px; margin: 0px;'>Hemos recibido tu pago por el monto
        de $
        {{amount}}. Correspondiente a la deuda de tus expensas.Tu saldo ha sido
        actualizado en nuestra plataforma.</p>
      <a
        class='btn mt-3'
        href='{{url}}'
        style='margin-top: 30px; margin-bottom: 30px; border: none;padding: 15px 25px;border-radius: 5px;color: white;display: inline-block;background-color: #0f0e0e; text-decoration: none;'
      >Ir a Consorcify</a>
    </div>
  </div>
</div>