<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  * { font-family: Poppins, system-ui; padding: 0px; margin: 0px; }
</style>
<div
  class='container-content'
  style='display: flex;align-items: center;justify-content: center;'
>
  <div
    class='card'
    style='border-radius: 10px;background-color: white;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);text-align: center;padding: 40px 30px; width: auto;'
  >
    <div class='card-header'>
      <h1><strong>Create account successfully</strong></h1>
    </div>
    <div class='card-body'>
      <img
        src='https://cdn-icons-png.flaticon.com/512/4144/4144781.png'
        class='my-3'
        alt='Email image'
        style='margin-top: 30px; width: 150px;height: 150px;'
      />
      <h2 class='my-3' style='margin: 30px 0px;'>Hi {{name}},</h2>
      <p style='padding: 0px; margin: 0px;'>Thank you for signing up, great
        things await you.</p>
      <p style='padding: 0px; margin: 0px;'>You need to verify your email to
        make sure it is you.</p>
      <a
        class='btn mt-3'
        href='{{url}}'
        style='margin-top: 30px;border: none;padding: 15px 25px;border-radius: 5px;color: white;display: inline-block;background-color: #b39bdb; text-decoration: none;'
      >Subscribe to my chanel</a>
    </div>
  </div>
</div>